<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Attend event</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/student">
                <a class="navbar-brand" href="/" style="height: 47px"></a>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/myEvents">
                            <i class="fa fa-file-o"></i>
                            <span>Мои настани</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-3" href="#">
                            <span class="fa fa-user"></span>
                            <th:block th:text="${username}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-3" href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span>Одјава</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container mt-5">
    <h4 style="text-align: center; margin-bottom: 50px">
        Настани -
        <span style="font-weight: bold"
              th:text="${professor.getFirstName() + ' ' + professor.getLastName()}"></span></h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Ден</th>
            <th scope="col">Време</th>
            <th scope="col">Тема</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getDay()}"></td>
            <td th:text="${event.getTimeFrom()+ ' - '+ event.getTimeTo()}"></td>
            <td th:text="${event.getTitle()}"></td>

            <td th:if="${not event.getAttendees().contains(user)}">
                <form th:action="@{'/attendEvent/{id}' (id=${event.getId()})}"
                      th:method="POST" style="display: inline">
                    <button type="submit" class="btn btn-outline-info">
                        <i class="fa fa-plus"></i>
                        <span style="padding-left: 2px">Закажи присуство</span>
                    </button>
                </form>
            </td>
            <td th:if="${event.getAttendees().contains(user)}">

                <form th:action="@{'/deleteAttendEvent/{id}' (id=${event.getId()})}"
                      th:method="POST" style="display: inline">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fa fa-minus"></i>
                        <span style="padding-left: 2px">Откажи присуство</span>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

